.intro h1 {
    background-image: url(../images/imageOne.webp);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes h2 {
    font-famiy: Helvetica;
    font-size: 32px;
    font-weight: bold;  
    color: white;
    background-color: mediumspringgreen;
    text-align: left;
}

.frames h2 {
    font-famiy: Helvetica;
    font-size: 32px;
    font-weight: bold;  
    color: white;
    background-color: lightcoral;
    text-align: left;    
}

.paint h2 {
    font-famiy: Helvetica;
    font-size: 32px;
    font-weight: bold;  
    color: white;
    background-color: skyblue;
    text-align: left;
 }

p strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}